# Project exclude paths
/log/
/.idea/
*.log
*.iml
/TBotWorker/target/
/TBotDB/target
/TBotITest/target
/TBotUI/target
/TBotUI/node_modules
/TBotUI/package.json
/TBotUI/package-lock.json
/TBotUI/webpack.config.js
/TBotUI/webpack.generated.js
/target/
